body{
  background-color: indianred;
  font-family: sans-serif;

}
p{
  margin: auto;
  width: 95%;
  color: white;
}
div {
  width: 50%;
  height: 50;
  padding: 0px;
  padding-left: px;
  border: 5px solid white;
  background-color: white;
  text-align: center;

}
